<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Is {{ broadcaster_display }} Live</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Is {{ broadcaster_display }} Live" />
    <meta property="og:url" content="{{ website_url }}" />
    {% match broadcaster_profile_picture %} {% when Some with (picture_url) %}
    <meta property="og:image" content="{{ picture_url }}" />
    {% when None %} {% endmatch %}
    <meta property="og:description" content="?" />
    <link rel="stylesheet" href="/static/style.css" />
    <script>
      // add ws listener and on update change the page
      const protocol =
        window.location.protocol === "http:" ? "ws://" : "wss://";
      var timerId;
      function connect() {
        var ws = new WebSocket(protocol + window.location.host + "/ws");
        ws.onmessage = function (event) {
          var data = JSON.parse(event.data);
          if (data.type === "update") {
            window.location.reload();
          }
          var status = document.getElementById("is_live");
          status.innerHTML = data.html;
          document.body.classList = [data.live ? "online" : "offline"];
        };
        ws.onopen = function () {
          clearInterval(timerId);

          ws.onclose = function () {
            timerId = setInterval(() => {
              connect();
            }, 10000);
          };
        };
      }
      connect();
    </script>
    <!--Set document path to /-->
  </head>
  <body class="{%if is_live -%}online{%else -%}offline{% endif -%}">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <a id="is_live" href="{{ broadcaster_url }}"
      >{%if is_live -%}Yes{%else -%}No{% endif -%}</a
    >
  </body>
</html>
