
**/target/
**/*.rs.bk
**/*.rsx
**/*.db
**/.env
**/*.iml
**/.idea/
**/.vscode/*.*
**/logfile*
**/*.old
**/*.log
coverage_reports/
/cargo-timing*.html
**/.*
!.github/
!.vscode/
!.vscode/settings.json
!.cargo/