name: Audit

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"
  merge_group:
    types: [checks_requested]

jobs:
  audit:
    needs: [cargo-deny] # security-audit,
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: exit 0
  security-audit:
    name: Security Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.66.1
      - run: cargo audit
  cargo-deny:
    name: Cargo Deny
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans
          - licenses
          - sources
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          rust-version: 1.66.1
          command: check ${{ matrix.checks }} -s
          arguments: --all-features
          log-level: warn
