name: CI
env:
  CI_TWITCH_API_FEATURES: "twitch_oauth2/all all unsupported deny_unknown_fields ureq"
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main, staging, trying]
jobs:
  ci:
    name: CI
    needs: [test, fmt, clippy, docs, release]
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: exit 0
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test, fmt, clippy, docs]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0 # fetch tags for publish
          # ssh-key: "${{ secrets.COMMIT_KEY }}" # use deploy key to trigger workflow on tag
      - uses: Swatinem/rust-cache@v2
      - run: cargo xtask release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        rust: [1.60.0, nightly]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: Test twitch_api
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --all-targets --features "${{ env.CI_TWITCH_API_FEATURES }}"
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - name: Run fmt -- --check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run clippy --all-targets --no-default-features
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --no-default-features
      - name: Run clippy --all-targets --no-default-features --features "helix"
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --no-default-features --features "helix"
      - name: Run clippy --all-targets --no-default-features --features "tmi"
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --no-default-features --features "tmi"
      - name: Run clippy --all-targets --no-default-features --features "pubsub"
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --no-default-features --features "pubsub"
      - name: Run clippy --all-targets --features "${{ env.CI_TWITCH_API_FEATURES }} trace_unknown_fields"
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --features "${{ env.CI_TWITCH_API_FEATURES }} trace_unknown_fields"
      - name: Run clippy --all-targets --features "${{ env.CI_TWITCH_API_FEATURES }}"
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --features "${{ env.CI_TWITCH_API_FEATURES }} _all"
      - name: Run clippy --all-targets --all-features --workspace
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked --all-targets --all-features --workspace
  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - uses: Swatinem/rust-cache@v2
      # We do the following to make sure docs.rs can document properly without anything broken, and that docs are working.
      - name: Run doc tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --doc --features "${{ env.CI_TWITCH_API_FEATURES }} _all"
      - name: Check twitch_api docs
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: "--cfg nightly"
          RUSTFLAGS: "--cfg nightly"
        with:
          command: doc
          args: --locked --no-deps --features "${{ env.CI_TWITCH_API_FEATURES }} _all"
