name: github pages
env:
  CI_TWITCH_OAUTH2_FEATURES: "all"
  CI_TWITCH_API2_FEATURES: "twitch_oauth2/all all"
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: Cache cargo
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: build twitch_oauth2 docs
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --no-deps --manifest-path=oauth2/Cargo.toml --features "${{ env.CI_TWITCH_OAUTH2_FEATURES }}"
      - name: build twitch_api2 docs
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --no-deps --manifest-path=twitchapi/Cargo.toml --features "${{ env.CI_TWITCH_API2_FEATURES }}"
      - name: move index.html
        run: cp ./index.html ./target/doc/index.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
